<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/Admin_dashboard.css">
</head>
<body>
<nav>
    <h1>Cavendish Library DashBoard</h1>
    <div class="top-corner">
        <span class="username">Admin</span>
        <button class="logout-btn" id="logout">Logout</button>
    </div>
</nav>
<div class="wrapper" id="wrapper">
    <div class="Sidebar">
        <h1>Admin Panel</h1>
        <ul>
            <li><a href="#" id="dashboardBtn">📊 DashBoard</a></li>
            <li><a href="#" id="booksBtn">📚 Books</a></li>
            <li><a href="#" id="membersBtn">👥 Members</a></li>
            <li><a href="#" id="borrowBtn">📥Borrow Records</a></li>
            <li><a href="#" id="finesBtn">💰Fines</a></li>
        </ul>
        <div class="add_buttons">
            <button class="add-book-btn" id="AddbookBtn" style="display: none;">Add Book</button>
            <button class="add-member-btn" id="addMemberBtn" style="display: none;">Add Member</button>
            <button class="clear-balance" id="clearBalanceBtn" style="display: none;">Clear Balance</button>
        </div>
    </div>
    <div class="content-area">
        <div class="main" id="mainDiv">
            <div class="TB">
                <h3>Total Books</h3> <br>
                <h3>1</h3>
            </div>
            <div class="AM">
                <h3>Active Members</h3><br>
                <h3>1</h3>
            </div>
            <div class="BB">
                <h3>Borrowed Books</h3><br>
                <h3>1</h3>
            </div>
            <div class="TF">
                <h3>Total Fines</h3><br>
                <h3>4</h3>
            </div>
        </div>
        <!-- Books Div -->
        <div class="books" id="booksDiv" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>BOOK ID</th>
                        <th>ISBN</th>
                        <th>TITTLE</th>
                        <th>AUTHOR</th>
                        <th>CATEGORY</th>
                        <th>TOTAL COPIES</th>
                        <th>AVAILABLE COPIES</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- Members Div -->
        <div class="members" id="membersDiv" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>MEMBER ID</th>
                        <th>REG NO.</th>
                        <th>FULL NAME</th>
                        <th>EMAIL</th>
                        <th>PHONE NUMBER</th>
                        <th>STATUS</th>
                        <th>CREATION DATE</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- BORROW RECORDS -->
        <div class="Borrow_records" id="borrowDiv" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th> DEBIT ID</th>
                        <th>MEMBER ID</th>
                        <th>BOOKID</th>
                        <th>BORROWING DATE</th>
                        <th>EXPECTED DATE</th>
                        <th>DUE DATE</th>
                        <th>RETURNED DATE</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- FINES  -->
        <div class="fines" id="finesDiv" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th> FINE ID</th>
                                <th>MEMBER ID</th>
                                <th>BOOK ID</th>
                                <th>DATE ISSUED</th>
                                <th>AMOUNT</th>
                                <th>PAID STATUS</th>
                                <th>BALANCE</th>
                            </tr>
                        </thead>
                    </table>
                </div>
        </div>
</div>

<!-- Add-book -->
        <div class="addbook" id="addBookForm"style="display: none;">
            <h1>Add Book</h1>
    <form method="POST" action="books/add_book.php">
        <!-- {% csrf_token %} -->
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" required><br><br>

        <label for="isbn">ISBN:</label><br>
        <input type="text" id="isbn" name="isbn" required><br><br>

        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category" required><br><br>

        <label for="copies">Number of Copies:</label><br>
        <input type="number" id="copies" name="copies" required><br>

        <input type="submit" value="Add Book"> 
        <button id="addBookCancelBtn">Cancel</button>
    </form>
        </div>


            <!-- Add Member -->
            <div class="addmember" id="addMemberForm" style="display: none;">
            <h1>Add Member</h1>
    <form method="POST" action="">
        <!-- {% csrf_token %} -->
        <label for="reg_no">Registration Number:</label><br>
        <input type="text" id="reg_no" name="reg_no" required><br><br>

        <label for="full_name">Full Name:</label><br>
        <input type="text" id="full_name" name="full_name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number" required><br><br>
        <!-- status will be set to active by default but it can be changed -->
        <label for="status">Status</label>
        <select id="status" name="status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
        </select><br><br>
        <input type="submit" value="Add Member"> 
        <button id="addMemberCancelBtn">Cancel</button>
    </form>
            </div>

    <!-- Clear balance  -->
    <div id="clearFine" class="clearfine" style="display: none;">
    <h1>Clear Fine</h1>
    <form>
        <label for="memberId">Member ID:</label><br>
        <input type="text" id="memberId" name="memberId" placeholder="Enter Member ID" required><br>
        <label for="fineAmount">Outstanding Fine:</label><br>
        <input type="number" id="fineAmount" name="fineAmount" placeholder="Fine amount" readonly><br>
        <label for="paymentMethod">Payment Method:</label><br>
        <select id="paymentMethod" name="paymentMethod" required>
            <option value="">Select Method</option>
            <option value="cash">Cash</option>
            <option value="mobile">Mobile Money</option>
            <option value="card">Card</option>
        </select><br><br><br><br>
        
        <div class="buttons"> 
        <button type="submit" class="btn-clear">Clear Fine</button>
        <button type="button" class="btn-cancel" id="clearBalanceCancelBtn">Cancel</button>
        <button>Save</button>
        </div>
    </form>
    </div>
</div>
<script src="../assets/css/Admin_dashboard.js"></script>
</body>
</html>