body{
    background: #f4f8fc;
    font-family: "Segoe UI", sans-serif;
}

.login-container{
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #033b5c;
}

label {
    display: block;
    margin-top: 10px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #2E8B57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error{
    color: red;
    background: #ffecec;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.form-container{
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container h2 {
    color: #033b5c;
    text-align: center;
    margin-bottom: 20px;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #033b5c;
}

button{
    margin-top: 15px;
    width: 100%;
    background: #033b5c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #005f99;
}

.success{
    background: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.error{
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.back-link{
    display: inline-block;
    margin-top: 15px;
    color: #5595cc;
    text-decoration: none;
}
.back-link:hover{
    text-decoration: underline;
}

/*Delete button*/
.delete-btn {
    background: #cc0000;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #990000;
}

.warning {
    background: #fff3cd;
    padding: 15px;
    border-left: 4px solid #ffcc00;
    border-radius: 6px;
    margin-bottom: 15px;
}

select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Logo area */
.logo-area {
    text-align: center;
    margin-bottom: 15px;
}

.logo-area img {
    width: 120px;      /* Adjust size */
    height: auto;
}
