body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles for the login container*/
.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

/*Styles for the logo, placing in the center*/
.logo {
  width: 150px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* styles for the main heading*/
h1 {
  font-size: 24px;
  text-align: center;
  color: #003366; 
  margin-bottom: 20px;
}
/* Styles for the input headings*/
h3 {
  font-size: 16px; 
  text-align: left;
  color:#003366;
  margin: 10px 0 5px 0;
}
/* Styles for the login form*/
.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for the login button*/
.login-form button {
  width: 100%;
  padding: 10px;
  background-color:#003366;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* turning the button blue on hover*/
.login-form button:hover {
  background-color: blue;
}

/*Error styling*/
.error{
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}