body{
    margin: 0;
    font-family: "segoe ui", sans-serif;
    background: #f4f8fc;
}

/*Top bar*/

.topbar{
    background: #033b5c;
    color: #f0f8ff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn{
    background: #5595cc;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.logout-btn:hover{
    background: #005f99;
}

/*Layout*/

.content{
    padding: 25px;
}

/*Welcome card*/

.welcome-card{
    background: white;
    border-left: 4px solid #033b5c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

/*Section title*/

.section-heading{
    color: #033b5c;
    margin-top: 20px;
}

/*Tables*/
.styled-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.styled-table th {
    background: #033b5c;
    color: white;
    padding: 12px;
}
.styled-table td{
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.styled-table tr:hover{
    background: #f0f6ff;
}

.empty{
    text-align: center;
    padding: 20px;
    color: #777;
}

/*Search Box*/
.search-box{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.search-box input{
    flex: 1;
    padding: 12px;
    border: 1px solid #5595cc;
    border-radius: 6px;
}
.search-box button{
    padding: 12px 20px;
    border: none;
    background: #033b5c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.search-box button:hover{
    background: #005f99;
}

/*Buttons*/
.btn-blue{
    display: inline-block;
    margin-top: 15px;
    background: #033b5c;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.btn-blue:hover{
    background: #005f99;
}
